    * 
    {
        font-family: Helvetica, Arial, sans-serif;
        margin-right: 0%;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }


    h1 
    {
        color: SeaGreen;
    }


    a
    {
        text-decoration: none;
        color: #262626;
        background-color: transparent;
    }
    a:hover
    {
        text-decoration: underline;
    }


    .top
    {
        display: flex;
        inline-size: 100%;
    }

    .Hautgauche
    {
        position: absolute;
        font-size: 12px;
        left: 0px;
        top: 10px;
    }

    .Hautdroit
    {
        position: absolute;
        display: flex;
        align-items: center;
        font-size: 12px;
        right: 0px;
        top:10px;
        top:0px;
    }

    .BasGauche
    {
        position: relative;
        left: 0%;
        font-size: 75%;
    }

    .BasDroite
    {
        font-size: 75%;
        margin-left: auto;
    }

    .Pays
    {
        font-size: 75%;
        position: relative;
        
        left: 0%;
    }
    .googleSign
    {
        position: absolute;
        left: 40%;
        top: 200px;
    }
    .Search input[type= text]
    {
        position: absolute;
        left: 38%;
        top: 320px;

        padding:6px 220px;
        font-size: 100%;
        border: 1px solid #ccc;
        border-radius: 25px; /*Arrondis les coins*/
        text-align: left;
        padding-left: 20px;
    }
    .Button
    {
        position: relative;
        left: 40%;
        top: 370px;
    }

    .Button button
    {
        height: 30px;
        width: 150px;
        border: 1px solid #ccc;
        border-radius: 25px; /*Arrondis les coins*/
        background-color: #d9d9d9;
    }
    
    .Google
    {
        position: absolute;
        left : 43%;
        top : 400px;
    }


    .strip1
    {
        position: absolute;
        display: flex;
        align-items: center;
        border-style: groove;
        border-top-color: #f2f2f2;
        border-bottom-color: #f2f2f2;
        border-left-color: #e6e6e6;
        background-color: #e6e6e6;
        margin-left:0px;
        margin-right: 0px;
        bottom: 40px;
        padding: 1em;
        height: 0.5%;
        left : 0%;
        right: 0%;
    }
    .stripGrise
    {
        position: absolute;
        display: flex;
        border-style: groove;
        border-top-color: #f2f2f2;
        border-bottom-color: #f2f2f2;
        border-left-color: #e6e6e6;
        background-color: #e6e6e6;
        text-decoration-color: #e6e6e6;
        bottom: 0%;
        margin-left:0px;
        margin-right: 0px;
        height: 0.6%;
        padding: 1em;
        left : 0%;
        right: 0%;
    }

    .Milieu
    {
        display: ;
        right: 50%;
        left: 50%;
        bottom: 50%;
        top: 50%;
    }
